<div class="content">
    <div class="col-md-9"><!--Dentro de este contenedor se ponda el jumbotron -->
      <div class="jumbotron">
        <center>
          <!--Jumbotron es una caja grande en bootstrap-->
          <img
          alt="Emmanuel imagen"
          height="200px;"
          class="img-fluid"
          src="https://static-cdn.jtvnw.net/jtv_user_pictures/d5322001-347c-4b0e-a20c-3bd9156a73c5-profile_image-300x300.png"
           />
           <br>
  
          <h1 style="color:white;" >{{ texto_bienvenida }}</h1>
        </center>
      
          <br /><br />   
          <form>
              <!--Todo lo que recolectera datos del usuario se debe de poner en un form -->
              <div class="form-group has-feedback">
                  <input #txt_user id="txt_user" name="id" value="{{usuarioMaster}}" type="text" placeholder="Ingresa tu Id de usuario" autocomplete="off" required="required" class="form-control" style="border:1px solid black;" />
              </div>        <br />
              <div class="form-group has-feedback">
                  <input #txt_Contrasenia id="txt_Contrasenia" value="{{passMaster}}" name="contrasenia" type="password" placeholder="Contraseña" required="required" class="form-control" style="border:1px solid black;" />
              </div>
              <br />
              <center>
              <button class="btn btn-secondary" style="color:white;" (click)="iniciarSesion(txt_user.value, txt_Contrasenia.value,$event);">Iniciar sesión</button>
              </center>
          </form>
      </div>
    </div>
  </div>